.wrapper 
  .head
    .header__logo
      = link_to "SOCCER11", 'root_path', class: "header--title--text"
    .header__message
      自分のチームのフォーメーションを登録しよう
    .header_btn
      = button_to "新規投稿", 'new_post_path', method: :get, class: "header_new_btn"
      = button_to "ログアウト", 'root_path', method: :get, class: "header_login_btn"