.login
  %h1 SOCCER 11　ログイン
  %form{method: "post"}
    %input{name: "u", placeholder: "チーム名", required: "required", type: "text"}/
    %input{name: "p", placeholder: "Password", required: "required", type: "password"}/
    %button.btn.btn-primary.btn-block.btn-large{:type => "submit"} ログイン
