.wrapper 
  .head
    .header__logo
      = link_to "SOCCER11", 'root_path', class: "header--title--text"
    .header__message
      自分のチームのフォーメーションを登録しよう
    .header_btn
      = link_to new_team_path, class: "header_new_btn" do
        新規登録
      = link_to new_team_session_path, class: "header_login_btn" do
        ログイン